[core]
  excludesfile = /Users/dan/.gitignore

[alias]
  c = commit
  co = checkout
  cb = checkout -b
  br = branch
  di = diff
  dn = diff --name-status
  dc = diff --cached
  st = status
  me = merge
  ms = merge --squash
  cp = cherry-pick
  cn = cherry-pick -n
  cm = commit
  ca = commit -a
  sr = svn rebase
  sf = svn fetch
  sd = svn dcommit
  sh = show
  shn = show --name-status
  rh = reset HEAD
  l = log --pretty='format:%h - %ar - %an - %Cred%s%Creset'
  lp = log -p
  lb = log master..HEAD
  pu = pull --rebase
  a = add -u

  [color]
    branch = auto
    diff = auto
    status = auto
  [color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
  [color "diff"]
    meta = yellow 
    frag = magenta 
    old = red 
    new = green 
  [color "status"]
    added = yellow
    changed = green
    untracked = cyan

[user]
	name = Dan Hensgen
	email = dan@methodhead.com

[github]
	user = dmeiz

[push]
  default = tracking
[merge]
	tool = vimdiff
